.todo {
    border: 1px black solid;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    display: flex;
    width: 60vw;
    align-items: center;
}

h1.sort-header {
    margin-top: 0;
}

.todo p {
    flex-basis: 5%;
}
.todo input {
    justify-self: left;
    flex-basis: 5%;
}
.todo h2{
    flex-basis: 50%;
}
.todo button{
    margin-left: 20%;
    flex-basis: 20%;
    float: right;
}

.buttons {
    width: 8.5em;
    height: 3em;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

.todos-index {
    padding: 3px;
}

.ss {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.todo-header {
    font-size: 4rem;
    margin-top: 0em;
    margin-bottom: 0em;
}

.todo-title {
    padding-left: 7px;
    max-width: 100%;
}