nav {
    display: flex;
    justify-items: center;

}

nav a{
    flex-basis: 20%;
    height: 10vh;
    text-decoration: none;
    margin: auto;
    font-size: 1.5rem;
    font-weight : bold;

}

nav a div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

nav a:hover, a.active{
    background-color: #B2B1CF;
}

